.apexChartmain {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

.apexCharts text tspan {
  display: none !important;
}

.container1 {
  padding-top: 0px;
}

.apexCharts {
  margin-top: 0px;
  padding-top: 0px;
}

.foregroundHead {
  position: absolute;
  width: 95%;
  top: 15%;
  left: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

.foregroundDiv {
  width: 95%;
  height: 80%;
  position: absolute;
  top: 21%;
  left: 3.8%;
  z-index: 3;
  background-color: transparent;
  pointer-events: none; /* Ensure it doesn't block clicks */
}

.foregroundDiv table {
  width: 100%;
  height: 90%;
}

.foregroundDiv table tr:nth-child(1) {
  height: 1.1%;
}

.foregroundDiv table tr:nth-child(2) {
  height: 1%;
}

.foregroundDiv table tr:nth-child(3) {
  height: 1%;
}

.foregroundDiv table tr:nth-child(4) {
  height: 1%;
}

.myTable :global(.table:not(.table-bordered) tfoot tr:last-child th),
.myTable :global(.table:not(.table-bordered) tfoot tr:last-child td),
.myTable :global(.table:not(.table-bordered) tbody tr:last-child th),
.myTable :global(.table:not(.table-bordered) tbody tr:last-child td) {
  border-bottom: 1px solid red !important;
}

/* Ensure that the .foregroundDiv is transparent but doesn't block interaction with the background */
.backgroundDiv {
  z-index: 1;
  pointer-events: auto; /* Background div should allow interactions */
  padding-top: 0px;

}

